* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}


div {
    /* border: 1px solid black; */
}

/* *** Main wrapper styling *** */

.main-wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.side-bar{
    background-color: #00abe4;
    display: grid;
    grid-template-rows: 1fr 4fr 9fr;
    text-decoration: none;
    /* padding: 20px 20px; */
    min-height: 100vh;
    width: 100%;
}

.side-1{
    margin: 1rem;
}

.side-bar ul{
    list-style: none;
    /* margin: 2rem; */
}

.side-bar li {
    margin: 2rem;
}

.side-bar a{
    text-decoration: none;
    color: #ffffff;
    /* padding: 10px; */
}

.side-bar div a span{
    margin: 10px;
    position: relative;
    top: -8px;
    font-size: 1rem;
    font-weight: bold;
    text-wrap: ;
}

.icon.large {
    width: 60px;
    fill: #ffffff;
}

.icon.medium {
    width: 30px;
    height: 30px;
    fill: #ffff;
}

.icon.small {
    width: 20px;
    height: 20px;
    fill: black;
}


/* *** Header styling *** */

.body-wrapper{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 4fr;
    /* margin: 0px 10px 10px 10px; */
    background-color: pink;
}

.header .icon.medium {
    width: 30px;
    height: 30px;
    fill: black;
}


.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    min-height: 15vh;
    /* max-height: 20vh; */
    box-shadow: 0px 15px 10px 0px #f6f6f6;
}

.header-first{
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* max-height: 40%; */
}

.img-small {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0px 5px 5px gray;
}

.header-search{
    padding-left: 30px;
    padding-top: 30px;
}

input[type='search']{
    border: 1px solid black;
    border-radius: 20px;
    /* margin-left: 20px; */
    width: clamp(200px, 80%, 1200px);
    position: relative;
    top: -10px;
    /* height: 30px;   */
    overflow: hidden;
    padding: 10px;
    background-color: #e1eaf1;
    color: black;
    font-size: 1.2rem;
    box-shadow: 0px 5px 5px gray;

}

.header-profile{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    /* margin-left: 3rem; */
    padding-top: 1rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;    
}

.header-profile > img{ 
    margin-bottom: 5px;
    box-shadow: 0px 5px 5px 3px gray;
}

.header-second{
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.header-intro{
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    gap: 1rem;
    /* margin-bottom: 1rem; */
    /* padding-bottom: 0px; */
    margin-left: 1rem;
}

.header-intro :nth-child(1) {
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
    /* gap: 1rem; */
    /* box-shadow: 0px 5px 5px gray; */
}

.header-intro :nth-child(2){
    /* align-self: last baseline; */
    /* margin-bottom: 0px; */
    /* padding-bottom: 0px; */
    /* overflow: hidden; */
    position: relative;
    top: 1.5rem;
}

.header-intro :nth-child(3){
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
    /* overflow: hidden; */
}

.header-buttons{ 
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 2rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* margin-left: 1rem; */
}

.btn{
    font-size: 1em;
    border-radius: 25px;
    min-width: 18%;
    max-width: 25%;
    height: 30%;
    margin-left: 2rem;
    color: white;
    background-color: #00abe4;
    box-shadow: 0px 5px 5px gray;
    margin-bottom: 0px;
}



/* *** Main section styling *** */

.main{
    padding: 2.5rem 2rem;
    background-color: #dfe2e5;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 5fr;
    gap: 2rem;
}

.main-top{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    gap: 2rem;
    margin-bottom: 0px;
}

.main-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}


.cards-left{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 11fr;
    box-shadow: 0px 5px 5px 0px gray;
    border-radius: 20px;
    /* padding-top: 10px; */
}

.cards-left:hover{
    position: relative;
    top: 10px;
}

.vertical{
    grid-row: 1 / span 3;
    grid-column: 1 / 2;
    background-color: rgba(255, 208, 0, 0.905);
    width: 0.8rem;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    padding: none;
    /* border: 2px solid red; */
}

.cards-left > h3{
    grid-column: 2 / 3;
    align-self: center;
}

.cards-left > p{
    padding-right: 20px;
}


.cards-left :nth-child(4){
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
    gap: 2rem;
}

.main-right{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 4fr;
    gap: 2rem;
}

.announcement{
    box-shadow: 0px 5px 5px 0px gray;
    padding: 0.5rem;
    /* margin-top: 5px; */
    /* height: 0%; */
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    background-color: white;
}

.announcement-2{
    border-bottom: 1px solid black;
    padding: 2rem;
}

.announcement :nth-child(3){
    border: none;
}

.announcement-2>h4{
    padding-bottom: 1rem;
}

.main-right> h3{
    /* border: 1px solid black; */
    margin-top: 2rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 30%;
    position: relative;
    top: 100px;
}

.trending{
    box-shadow: 0px 5px 5px 0px gray;
    /* min-height: 68%; */
    height: 100%;
    /* height: auto; */
    /* width: 80%; */
    overflow: hidden;
    background-color: white;
}

.trending-2{
    /* box-shadow: 0px 5px 5px 0px gray; */
    margin-top: 20px;
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
    border-bottom: 1px solid gray;
    /* gap: 2rem; */
}


.trending-2 > .img-small {
    grid-row: 1 / span 2;
    margin-right: 1rem;
    /* margin-bottom: */
}

/* Main grid styling */

